* {
    box-sizing: border-box;
}

html {
    /* background-image: linear-gradient(to right, blue, lightblue); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    /* background-position: center center; */
    /* background-attachment: fixed; */
    height: 100%;
    width: 100%;
    font-family: Roboto, sans;
}

body {
    margin-top: 10px;
}

header {
    width: 200px;
    word-wrap: normal;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    /* color: white; */
    font-family: sans;
}

main {
    margin-top: 10px;
    text-align: center;
}

fieldset {
    border: none;
}

.quiz_header {
    border: 1px solid black;
    border-radius: 5px;
}

.container {
    width: 200px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 5px;
    padding-bottom: 5px;
}

.quiz_start {
    margin: 30px;
    background-color: gray;
    padding: 10px;
}

.wireframe_links ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
}

li {
    margin: 5px;
}

.question, .answer {
    width: 180px;
    height: 70px;
    margin-left: auto;
    margin-right: auto; 
    border-radius: 5px;
    word-wrap: normal;
    /* color: blue; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* This is separated from answer as I intend the final verison
to have separate colors between classes */
.question, .answer {
    background-color: gray;
}

/******Media Queries******/

/******Phones******/
@media screen and (min-width: 320px) {
    header {
        width: 300px;
    }

    .container {
        width: 300px;
    }

    .question, .answer {
        width: 280px;
    }
}

/***** Tablets *****/
@media screen and (min-width: 768px) {
    body {
        margin-top: 100px;
    }
    
    header {
        width: 600px;
    }

    .container {
        width: 600px;
    }

    .question, .answer {
        width: 560px;
    }
}



/*****Full Screen******/
@media screen and (min-width: 960px) {
    header {
        width: 800px;
    }

    .container {
        width: 800px;
    }

    .question, .answer {
        width: 745px;
    }
}